{{>header}}

<body>
    {{!-- Navbar block --}}
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <a class="navbar-brand" href="#">Weather App</a>
        <ul class="navbar-nav ml-auto" style="margin-right: 200px;">
            <li class="nav-item">
                <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about" style="color: aliceblue;">ABOUT</a>
            </li>
        </ul>
    </nav>

    {{!-- Page Not Found block --}}
    <div class="container">
        <div class="error-page">
            <h3 style="text-align: center;">Page not found - 404 Error</h3>
        </div>
    </div>
</body>