{{>header}}

<body>
    {{!-- Navbar block --}}
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <a class="navbar-brand" href="#">Notes App</a>
        <ul class="navbar-nav ml-auto" style="margin-right: 200px;">
            <li class="nav-item">
                <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/about" style="color: aliceblue;">ABOUT</a>
            </li>
        </ul>

    </nav>
    {{!-- About Page Block --}}
    <div class="container">
        <div class="about">
            <h3 style="text-align: center;">About Weather App</h3>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <p>This is Weather App.This is used to get your location weather report or you can find any location report.
                        To get this we used weather stack API.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis faucibus id nulla et porttitor.
                        Donec sit amet lacinia mauris. Nullam commodo vulputate quam, eu eleifend augue faucibus ut. Nam
                        interdum ex sem, et fermentum urna imperdiet quis. Nulla facilisi. Fusce dolor sem, pulvinar
                        quis lorem vel, fringilla dignissim magna. Fusce ipsum lectus, molestie sed sodales sed, finibus
                        quis nisl. Sed in dignissim tortor, ut fringilla dolor. Donec consequat ipsum non est hendrerit,
                        molestie lobortis velit scelerisque.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

{{>footer}}

</html>